.App-logo {
    height: 3vmin;
}

.bg-light {
    border-bottom: 1px solid #EEE;
}

#login {
    padding-top: 50px;
}

.App-logo-login {
    height: 7vmin;
}

.twitter-avatar {
    height: 3vmax;
    padding-right: 5px;
}

.user-card {
    padding: 0;
}

.link:hover {
    cursor: pointer;
}

.signed-in-as:hover {
    background-color: transparent;
}